.whatsapp-button {
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 100;
  border-radius: 50%;
  overflow: hidden;
  width: 60px;
  height: 60px;
  transition: transform 0.2s ease-out;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.whatsapp-button:active {
  transform: translateY(0);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.whatsapp-button img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition: transform 0.2s ease-out;
}

.whatsapp-button:active img {
  transform: scale(1);
}

@media (min-width: 992px) {
  .whatsapp-button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  }

  .whatsapp-button:hover img {
    transform: scale(1.2);
  }
}