.contenedor-titulo-categoria{
  background-color: #ca173e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descripcion-seccion{
  margin-bottom: 0;
  font-size: 1.5em;
  width: 80%;
}

.img-auto{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-auto-perzonalizada{
  height: inherit;
  width: inherit;
  object-fit: inherit;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.carousel-inner{
  height: 100%;
  object-fit: contain;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-dialog {
  width: 80%; /* Ancho del modal */
  max-width: 500px; /* Ancho máximo del modal */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra */
}

.modal-content {
  padding: 20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd; /* Borde inferior */
  padding-bottom: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding-bottom: 20px;
}

.modal-footer {
  border-top: 1px solid #ddd; /* Borde superior */
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}

/* Estilos para la navbar de categorías */
.navbar-categorias {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo para los botones en la navbar de categorías */
.navbar-categorias .nav-link {
  text-decoration: none;
  background-color: #101010;
  color: white;
  padding: 1px 5px 2px;
  width: fit-content;
}

/* Estilo para el botón de despliegue en la navbar de categorías */
.navbar-categorias .navbar-toggler {
  background-color: gray;
  border-color: #101010;
}

/* Estilo para el icono del botón de despliegue en la navbar de categorías */
.navbar-categorias .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg' width='30' height='30'%3E%3Cpath stroke='#101010' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.contenedor{
  min-height: 550px;
}

.btn{
  background-color: #321f56;
  border:#321f56 !important;
  margin-bottom: 1em;
}

.btn:hover{
  background-color: transparent;
  pointer-events: none;
}

.page-item button {
  background-color: transparent;
  color: #101010;
  border-color: #101010;
}
.page-item.active button {
  background-color: #ca173e; 
  color: white; /* Texto blanco */
  border-color: #ca173e;
}
.page-item button:hover {
  pointer-events: none;
  background-color: transparent;
}

.container-categorias{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.dropdown-menu{
  width: 100% !important;
  border-radius: 0px !important;
  /* transform: translate(0px, 23px) !important; */
}


.nav-dropdown-mobile {
  display: flex;
  justify-content: center;
  background-color: #101010;
  color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  width: 100%;
  border: transparent;
}

.nav-dropdown-mobile .dropdown-menu {
  background-color: #101010;
  color: white;
}

.nav-dropdown-mobile .dropdown-item.active,
.nav-dropdown-mobile .dropdown-item:hover {
  background-color: #ca173e !important;
  color: white !important;
}

.spinner{
  height: 100vh;
  margin-top: 2em;
}

.card-productos{
  border: 1px solid #101010;
  border-radius: 5px;
  width: max-content;
  margin-top: 10px;
  width: 300px;
}

.card-text{
  margin-bottom: 0;
  text-align: center;
}

.card-body-productos a{
  margin-bottom: 0.5rem;
}

.image-card{
  margin: 0;
}
.carousel-vehicles{
  border-bottom: 1px solid #101010;
  height: 250px;
}
.img-vehicles{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card-title-vehicles{
  width: 100%;
  font-weight: bold;
  border-bottom: 1px solid #101010;
}
.button-vehicles{
  width: fit-content;
}
.button-modal-vehicles{
  margin-right: 5px;
  margin-bottom: 5px;
}
@media (min-width: 768px) {

  .card-img-top{
    width: 70%;
    object-fit: contain !important;
    align-self: center;
  }
  .mb-4{
    display: flex;
    justify-content: space-around !important;
  }
  
  .btn:hover{
    background-color: #4f45a7;
    color: white;
    cursor: pointer;
    pointer-events: auto;
  }  
  .page-item button:hover {
    border-color: #321f56; 
  }
  .nav-dropdown-mobile{
    display: flex !important;
    justify-content: center !important;
  }
}

@media (min-width: 992px) {
  .bg-custom{
    background-color: #ca173e;
  }
  .nav-categorias{
    display: flex;
    justify-content: center;
  }

  .card-productos:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .card-body-productos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
  }
  .image-card{
    height: 250px;
  }

  .contenedor-descripcion-seccion{
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-link-categorias:last-of-type{
    border-right: none !important;
  }
  
  .nav-dropdown-mobile {
    padding: 0;
    margin: 0;
  }

  .page-item button:hover {
    pointer-events: auto;
    background-color: #ca173e;
    color: white;
    border-color: #101010;
  }
  .container-categorias-vehiculos{
    background-color: #101010;
    color: white;
    width: 100vw
  }
  #row-vehicles{
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .div-vehicles{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  }