/* .custom-navbar {
  background-color: #19191b !important;
  color: #fff !important;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
}

.custom-nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.custom-nav-links .nav-link {
  color: #fff !important;
  text-transform: uppercase;
  padding: 10px;
  transition: color 0.3s ease-in-out;
}

.custom-nav-links .nav-link.active {
  color: #000 !important; 
  background-color: #fff; 
  border-radius: 5px; 
  padding: 8px 15px; 
}

*/
